In [1]:
# importing pandas module 
import pandas as pd 

# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi', 
				'Gaurav', 'Anuj', 'Princi', 'Abhi'], 
		'Age':[27, 24, 22, 32, 
			33, 36, 27, 32], 
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj', 
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'], 
		'Qualification':['Msc', 'MA', 'MCA', 'Phd', 
						'B.Tech', 'B.com', 'Msc', 'MA']} 
	

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data1) 

print(df)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [2]:
# using groupby function 
# with one key 

df.groupby('Name') 
print(df.groupby('Name').groups)

{'Abhi': Int64Index([7], dtype='int64'), 'Anuj': Int64Index([1, 5], dtype='int64'), 'Gaurav': Int64Index([4], dtype='int64'), 'Jai': Int64Index([0, 2], dtype='int64'), 'Princi': Int64Index([3, 6], dtype='int64')}

In [3]:
# applying groupby() function to 
# group the data on Name value. 
gk = df.groupby('Name') 
	
# Let's print the first entries 
# in all the groups formed. 
gk.first()

        Age  Address Qualification
Name
Abhi     32  Aligarh            MA
Anuj     24   Kanpur            MA
Gaurav   33  Jaunpur        B.Tech
Jai      27   Nagpur           Msc
Princi   32  Kannuaj           Phd

In [4]:
# importing pandas module 
import pandas as pd 

# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi', 
				'Gaurav', 'Anuj', 'Princi', 'Abhi'], 
		'Age':[27, 24, 22, 32, 
			33, 36, 27, 32], 
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj', 
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'], 
		'Qualification':['Msc', 'MA', 'MCA', 'Phd', 
						'B.Tech', 'B.com', 'Msc', 'MA']} 
	

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data1) 

print(df)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [5]:
# Using multiple keys in 
# groupby() function 
df.groupby(['Name', 'Qualification']) 

print(df.groupby(['Name', 'Qualification']).groups)

{('Abhi', 'MA'): Int64Index([7], dtype='int64'), ('Anuj', 'B.com'): Int64Index([5], dtype='int64'), ('Anuj', 'MA'): Int64Index([1], dtype='int64'), ('Gaurav', 'B.Tech'): Int64Index([4], dtype='int64'), ('Jai', 'MCA'): Int64Index([2], dtype='int64'), ('Jai', 'Msc'): Int64Index([0], dtype='int64'), ('Princi', 'Msc'): Int64Index([6], dtype='int64'), ('Princi', 'Phd'): Int64Index([3], dtype='int64')}

In [6]:
#Grouping Rows in pandas
# importing Pandas 
import pandas as pd 

# example dataframe 
example = {'Team':['Arsenal', 'Manchester United', 'Arsenal', 
				'Arsenal', 'Chelsea', 'Manchester United', 
				'Manchester United', 'Chelsea', 'Chelsea', 'Chelsea'], 
					
		'Player':['Ozil', 'Pogba', 'Lucas', 'Aubameyang', 
					'Hazard', 'Mata', 'Lukaku', 'Morata', 
										'Giroud', 'Kante'], 
										
		'Goals':[5, 3, 6, 4, 9, 2, 0, 5, 2, 3] } 

df = pd.DataFrame(example) 

print(df)

                Team      Player  Goals
0            Arsenal        Ozil      5
1  Manchester United       Pogba      3
2            Arsenal       Lucas      6
3            Arsenal  Aubameyang      4
4            Chelsea      Hazard      9
5  Manchester United        Mata      2
6  Manchester United      Lukaku      0
7            Chelsea      Morata      5
8            Chelsea      Giroud      2
9            Chelsea       Kante      3

In [7]:
total_goals = df['Goals'].groupby(df['Team']) 

# printing the means value 
print(total_goals.mean())

Team
Arsenal              5.000000
Chelsea              4.750000
Manchester United    1.666667
Name: Goals, dtype: float64